.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
*_cache
*_files
memo
*.aux
*.toc
*.bbl
*.blg
*.snm
*.nav
*.fls
*.vrb
*.dvi
*.ps
*fdb.latexmk
rmd_bookdown
rmdja/inst/resources/examples/img
rmdja/inst/resources/examples/styles
rmdja/inst/resources/examples/bookdown/_book
rmdja/inst/resources/examples/bookdown/inst
rmdja/inst/resources/examples/bookdown/_bookdown_files
rmdja/inst/resources/examples/rmd/.latexmkrc